# {{ ansible_managed }}

[DEFAULT]
{% if fail2ban_whitelist is defined %}
ignoreip  = {% for ip in fail2ban_whitelist %}{{ ip }}{% if not loop.last %} {% endif %}{% endfor %}
{% endif %}

bantime   = 86400
banaction = iptables-multiport
logpath   = /var/log/auth.log

{% if fail2ban_ssh == True %}
[sshd]
enabled = true
{% endif %}

{% if fail2ban_wordpress == True %}
# https://docs.wp-fail2ban.com/en/latest/configuration/fail2ban.html
[wordpress-hard]
enabled = true
filter = wordpress-hard
logpath = /var/log/auth.log
maxretry = 1
port = http,https

[wordpress-soft]
enabled = true
filter = wordpress-soft
logpath = /var/log/auth.log
maxretry = 3
port = http,https
{% endif %}

{% if fail2ban_drupal == True %}
[drupal-auth]
enabled = true
{% endif %}

{% if fail2ban_phpmyadmin == True %}
[phpmyadmin-syslog]
enabled = true
{% endif %}

# vim: set ft=dosini
