# {{ ansible_managed }}
# See http://www.pontikis.net/blog/fail2ban-install-config-debian-wheezy

[DEFAULT]
ignoreip  = 127.0.0.1 {% for ip in fail2ban_whitelist %}{{ ip }}{% if not loop.last %} {% endif %}{% endfor %}
bantime   = 86400
#destemail = root@localhost 
banaction = iptables-multiport
logpath   = /var/log/auth.log

# JAILS

{% if fail2ban_ssh == True %}
[sshd]
enabled   = true
maxretry  = 5
{% endif %}

{% if fail2ban_wordpress == True %}
# https://docs.wp-fail2ban.com/en/4.2/configuration/fail2ban.html 
[wordpress-hard]
enabled = true
filter = wordpress-hard
logpath = /var/log/auth.log
maxretry = 1
port = http,https

[wordpress-soft]
enabled = true
filter = wordpress-soft
logpath = /var/log/auth.log
maxretry = 3
port = http,https
{% endif %}

{% if fail2ban_drupal == True %}
# https://www.drupal.org/project/fail2ban
{% if fail2ban_drupal_comment == True %}
[drupal-comment]
enabled  = true
filter   = drupal-comment
port     = http,https
maxretry = 0
{% endif %}

[drupal-auth]
enabled = true
filter  = drupal-auth
port    = http,https
maxretry = 5
logpath = /var/log/messages
{% endif %}

{% if fail2ban_phpmyadmin == True %}
# Debian Stretch writes to Apache log
[phpmyadmin]
enabled = true
port = http,https
filter = phpmyadmin
maxretry = 5
logpath = {{ fail2ban_phpmyadmin_log }}
{% endif %}

# vim: set ft=dosini
